<head th:fragment="head" >

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" th:href="@{/Styles/nav.css?version=51}">
</head>

<nav class="navbar" th:fragment="nav">
        <div class="logo"><a href ="/user/dashboard">Resume Builder</a></div>
        
        <div class="user-section">
        <span >Welcome, </span>
            <span id="username" class="username " th:object="${user}" th:text="${user.userName}"> </span>
          
        </div>
    </nav>
    
    
    <!--=================================================================================  -->
    
    
      <div class="template" th:object="${resume}"  th:fragment="template1">
        <header>
            <h1 id="name"   th:text="${resume.name}">[Your Name]</h1>
            
            <p>Email: <span id="email"  th:text="${resume.email}">[Your Email]</span> | Contact No.: <span id="contact"  th:text="${resume.contactNumber}">[Your Contact Number]</span></p>
            <p>Address: <span id="address"  th:text="${resume.address}">[Your Address]</span></p>
            <p>Links:
                 <ul id="links" th:each="link : ${resume.links}">
                    <li><span th:text="${link.link}"></span> : <span th:text="${link.url}" ></span> </li>
                </ul>
            </p>
        </header>

        <section id="education" class="section">
            <h2>Education</h2>
            <ul  th:each="education : ${resume.education}">
                
                <li>
                    <strong>Institute Name:</strong> <span  th:text="${education.instituteName}">[Institute Name]</span>
                </li>
                <li>
                    <strong>Location:</strong> <span  th:text="${education.location}">[Location]</span>
                </li>
                <li>
                    <strong>Degree Type:</strong> <span  th:text="${education.degreeType}">[Degree Type]</span>
                </li>
                <li>
                    <strong>Field of Study:</strong> <span  th:text="${education.FieldOfStudy}">[Field of Study]</span>
                </li>
                <li>
                    <strong>Start Date:</strong> <span  th:text="${education.startDate}">[Start Date]</span>
                </li>
                <li>
                    <strong>End Date:</strong> <span  th:text="${education.endDate}">[End Date]</span>
                </li>
                <li>
                    <strong>Score:</strong> <span  th:text="${education.Score}">[Score]</span>
                </li>
            </ul>
        </section>

        <section id="work-experience" class="section">
            <h2>Work Experience</h2>
            <ul th:each="work : ${resume.workExperience}">
                
                <li>
                    <strong>Company Name:</strong> <span  th:text="${work.companyName}">[Company Name]</span>
                </li>
                <li>
                    <strong>Job Title:</strong> <span  th:text="${work.jobTitle}">[Job Title]</span>
                </li>
                <li>
                    <strong>Location:</strong> <span  th:text="${work.Location}">[Location]</span>
                </li>
                <li>
                    <strong>Start Date:</strong> <span  th:text="${work.startDate}">[Start Date]</span>
                </li>
                <li>
                    <strong>End Date:</strong> <span  th:text="${work.endDate}">[End Date]</span>
                </li>
                <li>
                    <strong>Description:</strong> <span  th:text="${work.description}">[Job Description]</span>
                </li>
            </ul>
        </section>

        <section id="skills" class="section">
            <h2>Skills</h2>
            <ul >
              <li  ><strong>Languages:</strong> <span  th:text="${resume.skills.languages}">[Languages]</span></li>
                <li  ><strong>Libraries/Frameworks:</strong> <span  th:text="${resume.skills.libraries_frameworks}">[Libraries/Frameworks]</span></li>
                <li   ><strong>Tools:</strong> <span  th:text="${resume.skills.tools}" >[Tools]</span></li>
            </ul>
        </section>
   </div>