<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>
 <link rel="stylesheet" th:href="@{/Styles/resumeBuilder.css?version=51}">
  
  

<body>

<div class="export">
<div id = "uploadDiv">
 <button id="uploadbtn" type="submit" form="uploadresume"> upload resume </button>
 <form id="uploadresume" action="/resume/api" method="post" enctype="multipart/form-data">
   
   
  <input type="file"  id="upload" />
  
    
</form>

 </div> 
  

<button type="submit" id="submitformbutton" form="resumeForm">save resume</button>

<form id="exporthtml" action="/export" method="post">
  <input type="hidden" id="exportinput" name="exportResume"  >
   <button id="export" type="submit"> export </button>
</form>


</div>
   <div class="container">
    <!-- Form Section -->
    <div class="form-section">
      <h2>Resume Form</h2>
      
      
      <form id="resumeForm" th:object="${resume}"  >
      
      
       <!-- Personal Information -->
        <div class="section">
        <input type="hidden" id="resumeId" name="resumeId" th:value="${resume.id}" required>
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" >

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" >

            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="contactNumber" placeholder="Enter your phone number" >

            <label for="address">Address</label>
            <input type="text" id="address" name="address" placeholder="Enter your address" >
        </div>

        <!-- Links Section -->
        <div class="section" id="linkSection" th:each ="links:${resume.links}" >
            <label for="link">Link</label>
            <input type="text" id="link" name="links[0].linkName" placeholder="Enter link" >

            <label for="url">URL</label>
            <input type="text" id="url" name="links[0].url" placeholder="Enter URL" >
        </div>
            <button type="button" onclick="addLinkField()">Add Link</button>
        

        <!-- Skills Section -->
        <div class="section">
            <label for="languages">Programming Languages</label>
            <input type="text" id="languages" name="skills.languages" placeholder="Enter programming languages" >

            <label for="lib">Libraries/Frameworks</label>
            <input type="text" id="lib" name="skills.libraries_frameworks" placeholder="Enter libraries/frameworks" >

            <label for="tools">Tools</label>
            <input type="text" id="tools" name="skills.tools" placeholder="Enter tools" >
        </div>

        <!-- Work Experience Section -->
        <div class="section" id="workExperienceSection" th:each="workExperience:${resume.workExperience}">
            <label for="companyName">Company Name</label>
            <input type="text" id="companyName" name="workExperience[0].companyName" placeholder="Enter company name" >

            <label for="jobTitle">Job Title</label>
            <input type="text" id="jobTitle" name="workExperience[0].JobTitle" placeholder="Enter job title" >

            <label for="location">Location</label>
            <input type="text" id="location" name="workExperience[0].location" placeholder="Enter location" >

            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="workExperience[0].startDate" placeholder="Enter start date" >

            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="workExperience[0].endDate" placeholder="Enter end date" >

            <label for="description">Description</label>
            <input type="text" id="description" name="workExperience[0].description" placeholder="Enter job description" >

           
        </div>
           <button type="button" onclick="addWorkExperienceField()">Add Work Experience</button>
        <!-- Education Section -->
        <div class="section" id="educationSection">
            <label for="institute">Institute Name</label>
            <input type="text" id="institute" name="education[0].institute" placeholder="Enter institute name" >

            <label for="Elocation">Location</label>
            <input type="text" id="Elocation" name="education[0].location" placeholder="Enter location" >

            <label for="degreeType">Degree Type</label>
            <input type="text" id="degreeType" name="education[0].degreeType" placeholder="Enter degree type" >

            <label for="fieldOfStudy">Field of Study</label>
            <input type="text" id="fieldOfStudy" name="education[0].fieldOfStudy" placeholder="Enter field of study"  >

            <label for="EstartDate">Start Date</label>
            <input type="date" id="EstartDate" name="education[0].startDate" placeholder="Enter start date">

            <label for="EendDate">End Date</label>
            <input type="date" id="EendDate" name="education[0].endDate" placeholder="Enter end date">

            <label for="score">Score</label>
            <input type="text" id="score" name="education[0].score" placeholder="Enter score" >

            
        </div>
        <button type="button" onclick="addEducationField()">Add Education</button>
         </form>
        
        </div>
        
         <div class="preview-section">
      <h2>Resume Preview</h2>
      <div id="resumePreview" class="preview" >
      
      <div th:replace="~{fragments::${template}}"></div>
      
      
     </div>
    </div>

      
      
    </div>

    <!-- Preview Section -->
   
    
 
 <script src="/Scripts/resumeBuilder.js"></script>
<script type="text/javascript">	document.getElementById("export").addEventListener("click", function () {
    // Prevent form submission to process content first
    const containerContent = document.getElementById("resumePreview").innerHTML;

    // Set the hidden input value
    document.getElementById("exportinput").value = containerContent;
    
});

const fileInput = document.getElementById('upload');

fileInput.addEventListener('change', () => {
	 const file = fileInput.files[0];
	 if (file) {
		 document.getElementById('uploadbtn').style.zIndex = 1;
		 document.getElementById('upload').style.zIndex=-1;
	 }
	 
	
});




</script>
</body>
</html>